@model ReserveSystem.Models.RoomServiceBooking

@{
    ViewData["Title"] = ViewBag.Title;
    ViewData["Action"] = ViewBag.Action;
    ViewData["Message"] = ViewBag.Message;
}

<div class="container text-center my-5 mx-auto">
    <div class="alert alert-success mx-auto" role="alert">
        <h4 class="alert-heading">Well done! <i class="fas fa-check-circle"></i></h4>
        <p>Your booking has been successfully created.</p>
        <hr>
        <p class="mb-2">You can now view your booking details.</p>
    </div>
</div>
<div class="container text-center my-5 mx-auto">
    <div class="d-flex justify-content-center align-items-center mx-auto">
        @if (ViewData["Action"] != null)
        {
            @if (ViewData["Action"]?.ToString() == "Create")
            {
                <a asp-controller="RoomServiceBooking" asp-action="Create" class="btn btn-outline-info mx-2">Create Another Booking</a>
                <a asp-controller="RoomServiceBooking" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-outline-success mx-2">View Created Booking</a>
            } else if (ViewData["Action"]?.ToString() == "Edit")
            {
                <a asp-controller="RoomServiceBooking" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-primary mx-2">Edit Another Booking</a>
                <a asp-controller="RoomServiceBooking" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-outline-primary mx-2">View Edited Booking</a>
            }
        }
        <a asp-controller="RoomServiceBooking" asp-action="Index" class="btn btn-outline-success mx-2">Return to HomePage</a>
    </div>
</div>