@model ReserveSystem.Models.RoomServiceBooking

@{
    ViewData["Title"] = "Deletion Success";
}

<div class="container text-center my-5 mx-auto">
    <div class="alert alert-success mx-auto" role="alert">
        <h4 class="alert-heading">Well done! <i class="fas fa-check-circle"></i></h4>
        <p>Your booking has been successfully deleted.</p>
    </div>
</div>
<div class="container text-center my-5 mx-auto">
    <div class="d-flex justify-content-center align-items-center mx-auto">
        <a asp-controller="RoomServiceBooking" asp-action="Index" class="btn btn-outline-info mx-2">Return to HomePage</a>
    </div>
</div>