@{
    ViewBag.Title = $"{ViewBag.Entity} deleted";
}

<h1>@ViewBag.Title</h1>
<div class="container mt-5">
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Success!</h4>
        <p>The @ViewBag.Entity was succesfully deleted.</p>
        <hr>
        <a asp-action="@ViewBag.Action" asp-controller="@ViewBag.Controller" class="btn btn-primary">Back to list</a>
    </div>
</div>
