@model ReserveSystem.Models.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<!-- Error message -->
<div class="container text-center my-5">
    <h1 class="display-4 text-danger my-5">
        Oops! Looks like some pesky <i class="bi bi-bug-fill"></i><br>
        Got inside our machines again...
    </h1>
</div>
<div class="container text-center my-5">
    <p class="lead my-5">
        We are sorry for the inconvenience.<br>
        Our technical team will resolve the issue as soon as possible.<br>
        In the meantime, you can try to go back to the previous page and try again later.
    </p>

    @if (Model?.ShowRequestId == true)
    {
        <p class="lead my-5">
            Your issue has the following <strong>request id:</strong> <code>@Model.RequestId</code> <i class="bi bi-clipboard"></i>
        </p>
    }
</div>
<!-- Go back buttons -->
<div class="container text-center my-5">
    <div class="d-flex justify-content-center align-items-center my-5 gap-3">
        <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Go back to Home</a>
        <a class="btn btn-primary" asp-controller="RoomServiceBooking" asp-action="Index">Go back to Room Service Bookings</a>
    </div>
</div>