@model ReserveSystem.Models.Supplier

@{
    ViewData["Title"] = "Criar Novo Fornecedor";
}

<style>
    .form-control {
        margin-bottom: 20px;
    }

    .btn-primary {
        background-color: #007bff;
        color: white;
        border: none;
    }

        .btn-primary:hover {
            background-color: #0056b3;
        }

    .text-danger {
        font-size: 0.9em;
    }

    a {
        color: #007bff;
        text-decoration: none;
    }

        a:hover {
            color: #0056b3;
            text-decoration: underline;
        }
</style>

<div class="container mt-4">
    <h1 class="text-center text-primary">Criar Novo Fornecedor</h1>
    <hr />
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="SupplierName" class="control-label"></label>
                    <input asp-for="SupplierName" class="form-control" />
                    <span asp-validation-for="SupplierName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="SupplierAddress" class="control-label"></label>
                    <input asp-for="SupplierAddress" class="form-control" />
                    <span asp-validation-for="SupplierAddress" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="SupplierPhone" class="control-label"></label>
                    <input asp-for="SupplierPhone" class="form-control" maxlength="9" pattern="\d{9}" />
                    <span asp-validation-for="SupplierPhone" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="SupplierEmail" class="control-label"></label>
                    <input asp-for="SupplierEmail" class="form-control" />
                    <span asp-validation-for="SupplierEmail" class="text-danger"></span>
                </div>

                <div class="form-group text-center">
                    <input type="submit" value="Criar" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div class="text-center mt-3">
        <a asp-action="Index">Voltar à Lista</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
