@model ReserveSystem.Models.ClientModel

@{
    ViewData["Title"] = "Client Page";
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
        <i class="bi bi-check-circle"></i> @TempData["SuccessMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<div class="container register border rounded">
    <div class="row">
        <div class="col-md-3 register-left">             
            <div class="carousel slide" id="fade-quote-carousel">
                <h3 class="mt-5 welcome">THE TEAM!</h3>
                <div class="quote"><i class="fa fa-quote-left fa-4x"></i></div>               
                <blockquote>
                    <p>
                        "Welcome to your <i>home</i> away from home.
                        We hope your stay is as comfortable and delightful as possible."
                    </p>
                </blockquote>
                <p>You are 30 seconds away from registering with us!</p>
            </div>
        </div>
        <div class="col-md-9 register-right">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h3 class="register-heading">REGISTER</h3>
                    <form asp-action="Create">
                        <div class="row register-form">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                    <label asp-for="Name" class="control-label"></label>
                                    <input asp-for="Name" class="form-control bg-light " type="text" />
                                </div>
                                <div class="form-group mb-3">
                                    <span asp-validation-for="Phone" class="text-danger"></span>
                                    <label asp-for="Phone" id="" class="control-label "></label>
                                    <input asp-for="Phone" class="form-control bg-light" type="tel" />
                                </div>
                                <div class="form-group mb-3">
                                    <span asp-validation-for="Address" class="text-danger"></span>
                                    <label asp-for="Address" class="control-label"></label>
                                    <input asp-for="Address" class="form-control bg-light" type="text" />
                                </div>
                                <div class="form-group mb-3">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                    <label asp-for="Email" class="control-label"></label>
                                    <input asp-for="Email" class="form-control bg-light " type="email" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                    <label asp-for="Password" class="control-label"></label>
                                    <input asp-for="Password" class="form-control bg-light " type="password" />
                                </div>
                                <div class="form-group mb-3">
                                    <span asp-validation-for="IdentificationType" class="text-danger"></span>
                                    <label asp-for="IdentificationType" class="control-label">Identification</label>
                                    <div class="d-flex align-items-center">
                                        <select asp-for="IdentificationType" class="form-control bg-light me-2" style="width: 150px;">
                                            <option value="" disabled selected>Select a type</option>
                                            <option value="NIF">NIF</option>
                                            <option value="Other">Other</option>
                                        </select>
                                        <input asp-for="NIF" class="form-control bg-light" style="flex-grow: 1;" type="text" />
                                    </div>
                                    <span asp-validation-for="NIF" class="text-danger"></span>
                                </div>
                                <div class="form-group form-check mb-3">
                                    <label class="form-check-label">
                                        <input class="form-check-input" asp-for="Login" /> @Html.DisplayNameFor(model => model.Login)
                                    </label>
                                </div>
                                <div class="form-group">
                                    <span asp-validation-for="Status" class="text-danger"></span>
                                    <label for="Status">@Html.DisplayNameFor(model => model.Status)</label>
                                    <select class="form-control bg-light" asp-for="Status">
                                        <option value="" disabled selected>Select a status</option>
                                        <option value="true">Active</option>
                                        <option value="false">Inactive</option>
                                    </select>
                                </div>
                            </div>
                            <div class="">
                                <div class="form-group ml-auto d-flex justify-content-end">
                                    <input type="submit" value="Register" class="btn btn-primary" />
                                </div>
                                <p class="d-flex justify-content-end">Already have an account?<a asp-area="Identity" asp-page="/Account/Login" class="login-link">Click to Login</a></p>
                            </div>                           
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}