@model ReserveSystem.Models.ClientModel

@{
    ViewData["Title"] = "Client Page";
}

<h3 class="text-center">
    <i class="bi bi-person-plus"></i> Cliente
</h3>
<div class="d-flex justify-content-center">
    <div class="col-md-6">
        <form asp-action="Create" class="border p-5 rounded shadow-sm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <span asp-validation-for="Name" class="text-danger"></span>
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control bg-light " type="text" />
            </div>
            <div class="form-group mb-3">
                <span asp-validation-for="Phone" class="text-danger"></span>
                <label asp-for="Phone" id="" class="control-label "></label>
                <input asp-for="Phone" class="form-control bg-light" type="text" />
            </div>
            <div class="form-group mb-3">
                <span asp-validation-for="Address" class="text-danger"></span>
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control bg-light" type="text" />
            </div>
            <div class="form-group mb-3">
                <span asp-validation-for="Email" class="text-danger"></span>
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control bg-light " type="email" />
            </div>
            <div class="form-group mb-3">
                <span asp-validation-for="NIF" class="text-danger"></span>
                <label asp-for="NIF" class="control-label">NIF</label>
                <input asp-for="NIF" class="form-control bg-light" type="text" />
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Login" /> @Html.DisplayNameFor(model => model.Login)
                </label>
            </div>
            <div class="form-group">
                <span asp-validation-for="Status" class="text-danger"></span>
                <label for="Status">@Html.DisplayNameFor(model => model.Status)</label>
                <select class="form-control bg-light" asp-for="Status">
                    <option value="" disabled selected>Select a status</option>
                    <option value="true">Active</option>
                    <option value="false">Inactive</option>
                </select>
            </div>
            <div class="d-flex justify-content-between m-3">
                <div class="form-group">
                    <a asp-action="Index" class="btn btn-secondary"><i class="bi bi-arrow-left-circle"></i> Back to List</a>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
