@model ReserveSystem.Models.TypeOfSchedule

@{
    ViewData["Title"] = "Create New Schedule";
}

<section class="section-container" style="text-align: center;">
    <h1>
        <span>Create New Schedule</span>
    </h1>
    <p class="centered-text">Fill in the details below to create a new schedule.</p>

    <form asp-action="Create" class="form-container" style="margin-top: 20px;">
        <div class="form-group">
            <label asp-for="TypeOfScheduleName" class="control-label">Schedule Name</label>
            <input asp-for="TypeOfScheduleName" class="form-control small-input" />
            <span asp-validation-for="TypeOfScheduleName" class="text-danger"></span>
        </div>
        <div class="form-group" style="display: flex; justify-content: center; gap: 15px; margin-top: 20px;">
            <button type="submit" class="btn btn-primary">Submit</button>
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>
    </form>
</section>