@{
    ViewData["Title"] = "Delete Success";
}

<h1>Type of Schedule Deleted Successfully</h1>

<p>The type of schedule "<strong>@ViewBag.TypeOfScheduleName</strong>" has been successfully deleted.</p>

<p><a href="Index" class="btn btn-primary">Back to List</a></p>
