@model ReserveSystem.Models.TypeOfSchedule

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TypeOfSchedule</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TypeOfScheduleId" />
            <div class="form-group">
                <label asp-for="TypeOfScheduleName" class="control-label"></label>
                <input asp-for="TypeOfScheduleName" class="form-control" />
                <span asp-validation-for="TypeOfScheduleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeOfScheduleDescription" class="control-label"></label>
                <input asp-for="TypeOfScheduleDescription" class="form-control" />
                <span asp-validation-for="TypeOfScheduleDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
