@{
    ViewData["Title"] = "Delete Success";
}

<h1>Room Deleted Successfully</h1>

<p>The room with ID "<strong>@ViewBag.RoomId</strong>" and type "<strong>@ViewBag.RoomType</strong>" has been successfully deleted.</p>

<p><a href="Index" class="btn btn-primary">Back to List</a></p>
