@{
    ViewData["Title"] = "Home Page";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/HomeGrupo10.css" />




<div class="container d-flex flex-column align-items-center justify-content-center ">



    <div class="container py-4">

        <article class="postcard dark blue">
            <a class="postcard__img_link" asp-controller="JobTest" asp-action="Index">
                <img class="postcard__img" src="/images/DefaultImage.jpg" alt="Image Title" />
            </a>
            <div class="postcard__text">
                <h1 class="postcard__title blue"><a class="postcard__img_link postcard__title" asp-controller="JobTest" asp-action="Index">Jobs</a></h1>
                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!
                </div>
                <ul class="postcard__tagbox">


                    <li class="tag__item play blue">
                        <a asp-controller="JobTest" asp-action="Create"><i class="bi bi-plus-lg mr-2 me-2"></i>Adicionar Job</a>
                    </li>
                </ul>
            </div>

        </article>

        <article class="postcard dark blue">
            <a class="postcard__img_link" asp-controller="StaffTest" asp-action="Index">
                <img class="postcard__img" src="/images/DefaultImage.jpg" alt="Image Title" />
            </a>
            <div class="postcard__text">
                <h1 class="postcard__title blue"><a class="postcard__img_link postcard__title" asp-controller="StaffTest" asp-action="Index">Staff</a></h1>
                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!
                </div>
                <ul class="postcard__tagbox">


                    <li class="tag__item play blue">
                        <a asp-controller="StaffTest" asp-action="Create"><i class="bi bi-plus-lg mr-2 me-2"></i>Adicionar Staff</a>
                    </li>
                </ul>
            </div>

        </article>

        <article class="postcard dark blue">
            <a class="postcard__img_link" asp-controller="Excursao" asp-action="Index">
                <img class="postcard__img" src="/images/DefaultImage.jpg" alt="Image Title" />
            </a>
            <div class="postcard__text">
                <h1 class="postcard__title blue"><a class="postcard__img_link postcard__title" asp-controller="Excursao" asp-action="Index">Excurções</a></h1>
                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!
                </div>
                <ul class="postcard__tagbox">


                    <li class="tag__item play blue">
                        <a asp-controller="Excursao" asp-action="Create"><i class="bi bi-plus-lg mr-2 me-2"></i>Adicionar Excurção</a>
                    </li>
                </ul>
            </div>

        </article>

        <article class="postcard dark blue">
            <a class="postcard__img_link" asp-controller="ClienteTest" asp-action="Index">
                <img class="postcard__img" src="/images/DefaultImage.jpg" alt="Image Title" />
            </a>
            <div class="postcard__text">
                <h1 class="postcard__title blue"><a class="postcard__img_link postcard__title" asp-controller="ClienteTest" asp-action="Index">Clientes</a></h1>
                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!
                </div>
                <ul class="postcard__tagbox">


                    <li class="tag__item play blue">
                        <a asp-controller="ReservaExcursao" asp-action="Create"><i class="bi bi-plus-lg mr-2 me-2"></i>Adicionar Cliente</a>
                    </li>
                </ul>
            </div>

        </article>

        <article class="postcard dark blue">
            <a class="postcard__img_link" asp-controller="ReservaExcursao" asp-action="Index">
                <img class="postcard__img" src="/images/ReservaExcursao.jpg" alt="Image Title" />
            </a>
            <div class="postcard__text">
                <h1 class="postcard__title blue"><a class="postcard__img_link postcard__title" asp-controller="ReservaExcursao" asp-action="Index">Reserva de Excursões</a></h1>
                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt">
                    Descubra novas aventuras e explore destinos incríveis nas nossas excursões exclusivas. Seja para um passeio cultural, uma aventura ao ar livre ou uma experiência gastronómica, temos algo para todos os gostos. Faça a sua reserva online e escolha entre diversas opções de data e destino. Não perca a oportunidade de criar memórias inesquecíveis. Garanta o seu lugar agora e desfrute de experiências únicas com segurança e conforto. Junte-se a nós nesta jornada.
                </div>
                <ul class="postcard__tagbox">


                    <li class="tag__item play blue">
                        <a asp-controller="ReservaExcursao" asp-action="Create"><i class="bi bi-plus-lg mr-2 me-2"></i>Reservar uma Excursão</a>
                    </li>
                </ul>
            </div>

        </article>

        <article class="postcard dark blue">
            <a class="postcard__img_link" asp-controller="ExcursaoFavorita" asp-action="Index">
                <img class="postcard__img" src="/images/excursaoFavorita.jpg" alt="Image Title" />
            </a>
            <div class="postcard__text">
                <h1 class="postcard__title blue"><a class="postcard__img_link postcard__title" asp-controller="ExcursaoFavorita" asp-action="Index">Excursões Favoritas</a></h1>
                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt">
                    Explore as excursões mais populares e descubra destinos incríveis. Desde paisagens naturais deslumbrantes a cidades vibrantes, temos opções para todos os gostos. Desfrute de atividades únicas que vão desde aventuras ao ar livre até experiências culturais imersivas. Todas as excursões são cuidadosamente planeadas para proporcionar momentos inesquecíveis. Conecte-se com novas culturas e crie memórias que durarão para sempre. Não espere mais: junte-se a nós e aproveite ao máximo a sua próxima viagem!
                </div>
                <ul class="postcard__tagbox">


                    <li class="tag__item play blue">
                        <a asp-controller="ExcursaoFavorita" asp-action="Create"><i class="bi bi-plus-lg mr-2 me-2"></i>Adicionar Excursão Favorita</a>
                    </li>
                </ul>
            </div>
        </article>


        

    </div>

  


</div>
