@{
    ViewData["Title"] = "Home Page";
}

<div class="container d-flex flex-column align-items-center justify-content-center vh-100">
    <div class="text-center">
        <div class="d-grid gap-3">
            <a class="btn btn-primary btn-lg" asp-controller="JobTest" asp-action="Index">Ver Job</a>
            <a class="btn btn-secondary btn-lg" asp-controller="StaffTest" asp-action="Index">Ver Staff</a>
            <a class="btn btn-success btn-lg" asp-controller="Excursao" asp-action="Index">Ver Excursão</a>
            <a class="btn btn-success btn-lg" asp-controller="ClienteTest" asp-action="Index">Ver Clientes</a>
            <a class="btn btn-success btn-lg" asp-controller="ReservaExcursao" asp-action="Index">Ver Reservas</a>
            <a class="btn btn-warning btn-lg d-flex align-items-center justify-content-center" asp-controller="ExcursaoFavorita" asp-action="Index">
                <i class="bi bi-star-fill me-2"></i> Ver Favoritas
            </a>
        </div>
    </div>
</div>
