@{
    ViewData["Title"] = "Home Page";
}

<div class="container d-flex flex-column align-items-center justify-content-center vh-100">
    <div class="text-center">
        <div class="d-grid gap-3">
            <a class="btn btn-primary btn-lg" asp-controller="JobTest" asp-action="Index">Ver Job</a>
            <a class="btn btn-secondary btn-lg" asp-controller="StaffTest" asp-action="Index">Ver Staff</a>
            <a class="btn btn-success btn-lg" asp-controller="Excursao" asp-action="Index">Ver Excursão</a>
            <a class="btn btn-success btn-lg" asp-controller="ClienteTest" asp-action="Index">Ver Clientes</a>
            <a class="btn btn-success btn-lg" asp-controller="ReservaExcursao" asp-action="Index">Ver Reservas</a>
            <div class="card" style="width: 18rem;">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <a asp-controller="ExcursaoFavorita" asp-action="Index" class="d-flex align-items-center justify-content-center text-decoration-none">
                        <i class="bi bi-star-fill me-2" style="font-size: 2rem;"></i> Ver Favoritas
                    </a>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <div class="card-header text-center bg-warning">
                    <h5 class="m-0 text-white">Ações Favoritas</h5>
                </div>
                <div class="card-body d-flex align-items-center justify-content-center">
                    <a asp-controller="ExcursaoFavorita" asp-action="Index" class="d-flex align-items-center justify-content-center text-decoration-none">
                        <i class="bi bi-star-fill me-2" style="font-size: 2rem;"></i> Ver Favoritas
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>
