@model ReserveSystem.Models.Consumptions

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Consumptions</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ConsumptionsId" />
            <div class="form-group">
                <label asp-for="ItemRoomId" class="control-label"></label>
                <select asp-for="ItemRoomId" class="form-control" asp-items="ViewBag.ItemRoomId"></select>
                <span asp-validation-for="ItemRoomId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuantityConsumed" class="control-label"></label>
                <input asp-for="QuantityConsumed" class="form-control" />
                <span asp-validation-for="QuantityConsumed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConsumedDate" class="control-label"></label>
                <input asp-for="ConsumedDate" class="form-control" />
                <span asp-validation-for="ConsumedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientId" class="control-label"></label>
                <select asp-for="ClientId" class="form-control" asp-items="ViewBag.ClientId"></select>
                <span asp-validation-for="ClientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
