@{
    ViewData["Title"] = "Delete Success";
}

<h1>Client Deleted Successfully</h1>

<p>The client with the name "<strong>@ViewBag.ClientName</strong>" and email "<strong>@ViewBag.ClientEmail</strong>" has been successfully deleted.</p>

<p><a href="Index" class="btn btn-primary">Back to List</a></p>
