@model IEnumerable<ReserveSystem.Models.TypeOfSchedule>

<h2>Type of Schedules</h2>

<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Schedule Name</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.TypeOfScheduleId</td>
            <td>@item.TypeOfScheduleName</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TypeOfScheduleId">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.TypeOfScheduleId">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-primary">Add New</a>