@{
    ViewData["Title"] = "Delete Success";
}

<h1>Booking Deleted Successfully</h1>

<p>The booking with ID "<strong>@ViewBag.BookingId</strong>" and booking date "<strong>@ViewBag.BookingDate</strong>" has been successfully deleted.</p>

<p><a href="Index" class="btn btn-primary">Back to List</a></p>
