@model ReserveSystem.Models.Buffet

@{
    ViewData["Title"] = "Detalhes do Buffet";
}

<style>
    .details-container {
        margin-top: 2rem;
    }

    .details-header {
        color: #007bff;
        text-align: center;
    }

    .details-list dt {
        font-weight: bold;
        text-align: right;
    }

    .details-list dd {
        text-align: left;
    }

    .btn-custom {
        background-color: #28a745;
        color: white;
    }

        .btn-custom:hover {
            background-color: #218838;
        }

    .btn-secondary {
        background-color: #6c757d;
        color: white;
    }

        .btn-secondary:hover {
            background-color: #5a6268;
        }
</style>

<div class="container details-container">
    <h1 class="details-header">Detalhes do Buffet</h1>
    <hr />
    <div class="row justify-content-center">
        <div class="col-md-6">
            <dl class="row details-list">
                <dt class="col-sm-4">Nome</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Nome)</dd>
                <dt class="col-sm-4">Descrição</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Descricao)</dd>
                <dt class="col-sm-4">Data</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Data)</dd>
            </dl>
        </div>
    </div>
    <div class="d-flex justify-content-center mt-4">
        <a class="btn btn-sm btn-custom me-2" asp-action="Edit" asp-route-id="@Model?.BuffetId">Editar</a>
        <a class="btn btn-sm btn-secondary" asp-action="Index">Voltar à Lista</a>
    </div>
</div>
