@model ReserveSystem.Models.TipoReserva

@{
    ViewData["Title"] = "Create Type Reservation";
}

<h2>Create Type Reservation</h2>

<div class="row justify-content-center">
    <div class="mb-4">

        <form asp-action="Create" method="post" class="card p-4 shadow-sm">

    <div class="mb-3">
        <label asp-for="NomeReserva" class="form-label">Reservation type name</label>
        <input asp-for="NomeReserva" class="form-control" />
        <span asp-validation-for="NomeReserva" class="text-danger"></span>
    </div>
            <div class="mb-3 text-end">
                <button type="submit" class="btn btn-primary">Create</button>
                <a asp-action="Index" class="btn btn-secondary">Cancel</a>
            </div>
</form>
</div>

</div>




