@{
    ViewData["Title"] = "Delete Success";
}

<h1>Room Type Deleted Successfully</h1>

<p>The room type with ID "<strong>@ViewBag.RoomTypeId</strong>" and description "<strong>@ViewBag.RoomTypeDescription</strong>" has been successfully deleted.</p>

<p><a href="Index" class="btn btn-primary">Back to List</a></p>
