@model IEnumerable<ReserveSystem.Models.UserLogin>

@{
    ViewData["Title"] = "Gestión de Usuarios";
}

<h1>Gestión de Usuarios</h1>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Contraseña</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Staff_id</td>
                <td>@user.Password</td>
            </tr>
        }
    </tbody>
</table>
