@model ReserveSystem.Models.Sazonalidade
@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a class="btn btn-success" asp-action="ViewSeasonList" asp-controller="Sazonalidades">View Season List</a>
</div>