@model ReserveSystem.Models.Sazonalidade
@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<a class="btn btn-success" asp-action="ViewSeasonList" asp-controller="Sazonalidade">wow</a>