
@{
    ViewData["Title"] = "ClienteHome";
}

<h1>ClienteHome</h1>

<div class="text-center">
    <a asp-controller="Reservas" asp-action="Create" class="btn btn-secondary">Reservar Mesa</a>
    <a asp-controller="Pratos" asp-action="IndexCli" class="btn btn-secondary">Ementa do dia</a>
</div>