
@{
    ViewData["Title"] = "FuncionarioHome";
}

<h1>FuncionarioHome</h1>

<div class="text-center">


    <a asp-controller="Reservas" asp-action="Index" class="btn btn-secondary">Reservas</a>
    <a asp-controller="Pratos" asp-action="IndexFun" class="btn btn-secondary">Pratos</a>
    <a asp-controller="Mesas" asp-action="Index" class="btn btn-secondary">Mesas</a>
    <a asp-controller="Clientes" asp-action="Index" class="btn btn-secondary">Clientes</a>


</div>