@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="text-center " style="width: 100%; font-family: 'Arial Rounded MT';">
        <h1 class="display-4">Welcome To Our Hotel</h1>
        <a asp-controller="Client" asp-action="Create" class="btn btn-success" >Registe-se</a>
    </div>

    @if (User.IsInRole("manager")) {
        <a href="Employees/Index" class="btn btn-primary">Employees</a>
    }

    <a asp-controller="Home" asp-action="ClienteHome" class="btn btn-secondary">Cliente</a>
    <a asp-controller="Home" asp-action="FuncionarioHome" class="btn btn-secondary">Funcionário</a>
</div>
