@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Reserve System</h1>
    <br>
    <a asp-controller="UserLogins" asp-action="Login" class="btn btn-primary" style="background-color:blue">Log in</a>
    <br>
    <br>
    <a asp-controller="UserLogins" asp-action="Create" class="btn btn-primary" style="background-color:green">Create Staff user</a>
    <a asp-controller="UserLogins" asp-action="Index" class="btn btn-primary">List Staff users</a>
</div>
