@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the home page</h1>
    <p>Would you like to configure our events?</p>
    <div>
        <a asp-controller="Events" asp-action="Show" class="btn btn-warning">Configure</a>
    </div>
</div>
