@{
    ViewData["Title"] = "Home Page";
}

<div class="container d-flex flex-column align-items-center justify-content-center vh-100">
    <div class="text-center">
        <h1 class="display-4 mb-4">Welcome</h1>
        <p class="mb-4">
            Learn about <a href="https://learn.microsoft.com/aspnet/core" class="text-primary text-decoration-underline" target="_blank">building Web apps with ASP.NET Core</a>.
        </p>
    </div>

</div>
