@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if (User.Identity.IsAuthenticated)
    {
        <!-- Botões para Admin -->
        @if (User.IsInRole("admin"))
        {
            <a href="/Staffs/Index" class="btn btn-primary">Staff</a>
            <a href="/Bookings/Index" class="btn btn-primary">Bookings</a>
            <a href="/Cleaning_Schedule/Index" class="btn btn-primary">Cleaning Schedule</a>
            <a href="/Clients/Index" class="btn btn-primary">Clients</a>
            <a href="/Consumptions/Index" class="btn btn-primary">Consumptions</a>
            <a href="/Item_Room/Index" class="btn btn-primary">Item Room</a>
            <a href="/Items/Index" class="btn btn-primary">Items</a>
            <a href="/Jobs/Index" class="btn btn-primary">Jobs</a>
            <a href="/Room_Booking/Index" class="btn btn-primary">Room Booking</a>
            <a href="/Room_Type/Index" class="btn btn-primary">Room Type</a>
            <a href="/Rooms/Index" class="btn btn-primary">Rooms</a>
            <a href="/Schedules/Index" class="btn btn-primary">Schedules</a>
            <a href="/TypeOfSchedules/Index" class="btn btn-primary">TypeOfSchedules</a>
        }

        <!-- Botões para Manager -->
        @if (User.IsInRole("manager"))
        {
            <a href="/Staffs/Index" class="btn btn-primary">Staff</a>
            <a href="/Schedules/Index" class="btn btn-primary">Schedules</a>
            <a href="/Cleaning_Schedule/Index" class="btn btn-primary">Cleaning Schedule</a>
        }

        <!-- Botões para Cliente -->
        @if (User.IsInRole("client"))
        {
            <a href="/Cleaning_Schedule/Index" class="btn btn-primary">Cleaning Schedule</a>
        }
    }
    else
    {
        <!-- Mensagem para utilizadores não autenticados -->
        <div class="alert alert-warning" role="alert">
            You must be logged in to view the available options.
        </div>
    }
</div>
