@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a href="Clients/Index" class="btn btn-primary">Clients</a>
    <a href="Employees/Index" class="btn btn-primary">Employees</a>
    <a href="Items/Index" class="btn btn-primary">Items</a>
    <a href="ItemQuarto/Index" class="btn btn-primary">ItemQuarto</a>
    <a href="Quarto/Index" class="btn btn-primary">Quarto</a>
</div>
