@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo ao nosso Restaurante</h1>
    
    <a asp-controller="Reservas" asp-action="Index">Reservas</a>
    <a asp-controller="Pratos" asp-action="Index">Pratos</a>
</div>
