@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="text-center"> 
    <a asp-controller="PrecoTipoQ" asp-action="Create" class="btn btn-primary">
        Create Room Type Prices
    </a>

    <a asp-controller="PrecoTipoQ" asp-action="Index" class="btn btn-outline-success"> 
    Index of Room Type Prices </a> 

    
</div>

<div class ="text-center">
    <a asp-controller="TipoQuartoExemplo" asp-action="Create" class="btn btn-outline-primary">
        Create Room Type
    </a>

    <a asp-controller="TipoQuartoExemplo" asp-action="Index" class="btn btn-success">
        Room Type Index
    </a>
</div>