@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo ao nosso Ginásio</h1>

    <a asp-controller="PersonalTrainer" asp-action="Index">PersonalTrainers</a>
    <a asp-controller="Client" asp-action="Index">Clientes</a>
</div>
