@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a href="Bookings/Index" class="btn btn-primary">Bookings</a>
    <a href="Cleanings/Index" class="btn btn-primary">Cleanings</a>
    <a href="CleaningShedules/Index" class="btn btn-primary">CleaningShedules</a>
    <a href="Clients/Index" class="btn btn-primary">Clients</a>
    <a href="Consumptions/Index" class="btn btn-primary">Consumptions</a>
    <a href="ItemRooms/Index" class="btn btn-primary">ItemRooms</a>
    <a href="Items/Index" class="btn btn-primary">Items</a>
    <a href="Jobs/Index" class="btn btn-primary">Jobs</a>
    <a href="RoomBookings/Index" class="btn btn-primary">RoomBookings</a>
    <a href="Rooms/Index" class="btn btn-primary">Rooms</a>
    <a href="RoomTypes/Index" class="btn btn-primary">RoomTypes</a>
    <a href="Staffs/Index" class="btn btn-primary">Staffs</a>
</div>
