@model ReserveSystem.Models.Cleaning

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cleaning</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CleaningService)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CleaningService)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.room)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.room.RoomId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CleaningId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
