@model ReserveSystem.Models.ReservaExcursaoModel

@{
    ViewData["Title"] = "Edit";
}

<div class="container mt-5">
    <h1 class="text-center text-primary">Edit Excursão</h1>
    <hr />
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form asp-action="Edit" class="shadow p-4 bg-light rounded">
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                <input type="hidden" asp-for="Id" />

                <div class="mb-3">
                    <label asp-for="ClienteId" class="control-label"></label>
                    <select asp-for="ClienteId" class="form-control" asp-items="ViewBag.ClienteId"></select>

                </div>

                <div class="mb-3">
                    <label asp-for="ExcursaoId" class="control-label"></label>
                    <select asp-for="ExcursaoId" class="form-control" asp-items="ViewBag.ExcursaoId"></select>

                </div>

                <div class="mb-3">
                    <label asp-for="DataReserva" class="control-label"></label>
                    <input asp-for="DataReserva" class="form-control" />
                    <span asp-validation-for="DataReserva" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="NumPessoas" class="control-label"></label>
                    <input asp-for="NumPessoas" class="form-control" />
                    <span asp-validation-for="NumPessoas" class="text-danger"></span>
                </div>

                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
