@{
ViewData["Title"] = "Erro";
}

<h1 class="text-center text-danger">Erro</h1>
<div class="alert alert-danger">
    @ViewBag.ErrorMessage ?? "Ocorreu um erro inesperado."
</div>
<a asp-action="Index" class="btn btn-primary">Voltar à Lista</a>
