@{
    ViewData["Title"] = "Delete Success";
}

<h1>Cleaning Schedule Deleted Successfully</h1>

<p>The cleaning schedule for the date "<strong>@ViewBag.DateServices</strong>" with start time "<strong>@ViewBag.StartTime</strong>" has been successfully deleted.</p>

<p><a href="Index" class="btn btn-primary">Back to List</a></p>
