@model ReserveSystem.Models.BookingModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>BookingModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CHECKIN_DATE" class="control-label"></label>
                <input asp-for="CHECKIN_DATE" class="form-control" />
                <span asp-validation-for="CHECKIN_DATE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CHECKOUT_DATE" class="control-label"></label>
                <input asp-for="CHECKOUT_DATE" class="form-control" />
                <span asp-validation-for="CHECKOUT_DATE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BOOKING_DATE" class="control-label"></label>
                <input asp-for="BOOKING_DATE" class="form-control" />
                <span asp-validation-for="BOOKING_DATE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TOTAL_PERSONS_NUMBER" class="control-label"></label>
                <input asp-for="TOTAL_PERSONS_NUMBER" class="form-control" />
                <span asp-validation-for="TOTAL_PERSONS_NUMBER" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="BOOKED" /> @Html.DisplayNameFor(model => model.BOOKED)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="PAYMENT_STATUS" /> @Html.DisplayNameFor(model => model.PAYMENT_STATUS)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
