 @model ReserveSystem.Models.Items

<h1>Registo Concluído</h1>

<p>O registo do item foi criado com sucesso!</p>

<table class="table">
    <tr>
        <th>ID do Item</th>
        <td>@Model.ItemId</td>
    </tr>
    <tr>
        <th>Nome</th>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <th>Quantidade em Stock</th>
        <td>@Model.QuantityStock</td>
    </tr>
</table>

<a asp-action="Index" class="btn btn-primary">Voltar à Lista</a>
<a asp-action="Create" class="btn btn-secondary">Criar Novo</a>
