@model ReserveSystem.Models.PrecoTipoQuarto

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PrecoTipoQuarto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TipoQuartoId" />
            <div class="form-group">
                <label asp-for="tipo" class="control-label"></label>
                <input asp-for="tipo" class="form-control" />
                <span asp-validation-for="tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="quantidadeQuartos" class="control-label"></label>
                <input asp-for="quantidadeQuartos" class="form-control" />
                <span asp-validation-for="quantidadeQuartos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="capacidade" class="control-label"></label>
                <input asp-for="capacidade" class="form-control" />
                <span asp-validation-for="capacidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecoBase" class="control-label"></label>
                <input asp-for="PrecoBase" class="form-control" />
                <span asp-validation-for="PrecoBase" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="taxaCancelamento" class="control-label"></label>
                <input asp-for="taxaCancelamento" class="form-control" />
                <span asp-validation-for="taxaCancelamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="camaAdiconal" class="control-label"></label>
                <input asp-for="camaAdiconal" class="form-control" />
                <span asp-validation-for="camaAdiconal" class="text-danger"></span>
            </div>
         
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="QuartoAdaptado" /> @Html.DisplayNameFor(model => model.QuartoAdaptado)
                </label>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Vista" /> @Html.DisplayNameFor(model => model.Vista)
                </label>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

