@model ReserveSystem.Models.PrecoTipoQuarto

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PrecoTipoQuarto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="precotq_id" />
            <div class="form-group">
                <label asp-for="tipo" class="control-label"></label>
                <input asp-for="tipo" class="form-control" />
                <span asp-validation-for="tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="quantidadeQuartos" class="control-label"></label>
                <input asp-for="quantidadeQuartos" class="form-control" />
                <span asp-validation-for="quantidadeQuartos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="capacidade" class="control-label"></label>
                <input asp-for="capacidade" class="form-control" />
                <span asp-validation-for="capacidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecoBase" class="control-label"></label>
                <input asp-for="PrecoBase" class="form-control" />
                <span asp-validation-for="PrecoBase" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="taxaCancelamento" class="control-label"></label>
                <input asp-for="taxaCancelamento" class="form-control" />
                <span asp-validation-for="taxaCancelamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="taxaAdiconal" class="control-label"></label>
                <input asp-for="taxaAdiconal" class="form-control" />
                <span asp-validation-for="taxaAdiconal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="numeroReserva" class="control-label"></label>
                <input asp-for="numeroReserva" class="form-control" />
                <span asp-validation-for="numeroReserva" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dataCheckIn" class="control-label"></label>
                <input asp-for="dataCheckIn" class="form-control" />
                <span asp-validation-for="dataCheckIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dataCheckOut" class="control-label"></label>
                <input asp-for="dataCheckOut" class="form-control" />
                <span asp-validation-for="dataCheckOut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dataReserva" class="control-label"></label>
                <input asp-for="dataReserva" class="form-control" />
                <span asp-validation-for="dataReserva" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dataCancelamento" class="control-label"></label>
                <input asp-for="dataCancelamento" class="form-control" />
                <span asp-validation-for="dataCancelamento" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="cancelamento" /> @Html.DisplayNameFor(model => model.cancelamento)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="estado" class="control-label"></label>
                <input asp-for="estado" class="form-control" />
                <span asp-validation-for="estado" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="EstadoPagamento" /> @Html.DisplayNameFor(model => model.EstadoPagamento)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="NumeroPessoas" class="control-label"></label>
                <input asp-for="NumeroPessoas" class="form-control" />
                <span asp-validation-for="NumeroPessoas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

