@model ReserveSystem.Models.Job

@{
    ViewData["Title"] = "Job Edited Successfully";
}

<h1>@ViewBag.Message</h1>

<p><strong>Job Name:</strong> @Model.JobName</p>
<p><strong>Job Description:</strong> @Model.JobDescription</p>

<p><a href="@Url.Action("Index", "Jobs")" class="btn btn-primary">Back to List</a></p>
