@model ReserveSystem.Models.RoomModel

@{
    ViewData["Title"] = "Create Room";
}

<h3 class="text-center">
    <i class="bi bi-house-door"></i> Criar Quarto
</h3>

<!-- Exibe mensagens de sucesso ou erro -->
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">@TempData["SuccessMessage"]</div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
}

<div class="d-flex justify-content-center">
    <div class="col-md-6">
        <form asp-action="Create" method="post" class="border p-5 rounded shadow-sm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!-- Tipo de Quarto -->
            <div class="form-group mb-3">
                <span asp-validation-for="RoomTypeId" class="text-danger"></span>
                <label asp-for="RoomTypeId" class="control-label">Tipo de Quarto</label>
                <select asp-for="RoomTypeId" class="form-control bg-light">
                    <option value="" disabled selected>Selecione o Tipo de Quarto</option>
                    @foreach (var item in ViewBag.RoomTypes as List<RoomType>)
                    {
                        <option value="@item.RoomTypeId">@item.Type</option>
                    }
                </select>
            </div>

            <!-- Capacidade do Quarto -->
            <div class="form-group mb-3">
                <span asp-validation-for="RoomType.RoomCapacity" class="text-danger"></span>
                <label asp-for="RoomType.RoomCapacity" class="control-label">Capacidade</label>
                <input asp-for="RoomType.RoomCapacity" class="form-control bg-light" />
            </div>

            <!-- Visibilidade -->
            <div class="form-group form-check mb-3">
                <input class="form-check-input" asp-for="RoomType.HasView" />
                <label asp-for="RoomType.HasView" class="form-check-label">Vista</label>
            </div>

            <!-- Acessibilidade -->
            <div class="form-group form-check mb-3">
                <input class="form-check-input" asp-for="RoomType.AcessibilityRoom" />
                <label asp-for="RoomType.AcessibilityRoom" class="form-check-label">Acessibilidade</label>
            </div>

            <div class="d-flex justify-content-between m-3">
                <div class="form-group">
                    <a asp-action="Index" class="btn btn-secondary">
                        <i class="bi bi-arrow-left-circle"></i> Voltar à Lista
                    </a>
                </div>
                <div class="form-group">
                    <input type="submit" value="Criar Quarto" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}