@model ReserveSystem.Models.RoomModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>RoomModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!-- Dropdown para selecionar o tipo de quarto -->
            <div class="form-group">
                <label asp-for="RoomTypeId" class="control-label"></label>
                <select asp-for="RoomTypeId" class="form-control" asp-items="ViewBag.RoomTypes"></select>
                <span asp-validation-for="RoomTypeId" class="text-danger"></span>
            </div>

            <!-- Capacidade do quarto -->
            <div class="form-group">
                <label asp-for="RoomType.RoomCapacity" class="control-label"></label>
                <input asp-for="RoomType.RoomCapacity" class="form-control" readonly />
                <span asp-validation-for="RoomType.RoomCapacity" class="text-danger"></span>
            </div>


            <!-- Se o quarto tem vista -->
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="RoomType.HasView" /> @Html.DisplayNameFor(model => model.RoomType.HasView)
                </label>
            </div>

            <!-- Se o quarto é adaptado -->
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="RoomType.AcessibilityRoom" /> @Html.DisplayNameFor(model => model.RoomType.AcessibilityRoom)
                </label>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
