@model ReserveSystem.Models.ExcursaoModel

@{
    ViewData["Title"] = "Create";
}

<div class="container mt-4">
    <h1 class="text-primary mb-3">@ViewData["Title"]</h1>

    <h4 class="text-secondary">ExcursaoModel</h4>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

                <div class="mb-3">
                    <label asp-for="Titulo" class="form-label"></label>
                    <input asp-for="Titulo" class="form-control" />
                    <span asp-validation-for="Titulo" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Descricao" class="form-label"></label>
                    <textarea asp-for="Descricao" class="form-control"></textarea>
                    <span asp-validation-for="Descricao" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Data_Inicio" class="form-label"></label>
                    <input asp-for="Data_Inicio" type="datetime-local" class="form-control" />
                    <span asp-validation-for="Data_Inicio" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Data_Fim" class="form-label"></label>
                    <input asp-for="Data_Fim" type="datetime-local" class="form-control" />
                    <span asp-validation-for="Data_Fim" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Preco" class="form-label"></label>
                    <input asp-for="Preco" type="number" class="form-control" />
                    <span asp-validation-for="Preco" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="StaffId" class="form-label"></label>
                    <select asp-for="StaffId" class="form-control" asp-items="ViewBag.StaffId"></select>
                </div>

                <div class="d-flex justify-content-between">
                    <input type="submit" value="Create" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
