@model ReserveSystem.Models.Equipamento

<h2>Add Equipment</h2>

<form asp-action="AddEquipment">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="NomeEquipamento" class="control-label">Equipment Name</label>
        <input asp-for="NomeEquipamento" class="form-control" />
        <span asp-validation-for="NomeEquipamento" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Quantidade" class="control-label">Quantity</label>
        <input asp-for="Quantidade" class="form-control" />
        <span asp-validation-for="Quantidade" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="IdTipoEquipamento" class="control-label">Equipment Type</label>
        <select asp-for="IdTipoEquipamento" class="form-control" asp-items="ViewBag.TipoEquipamento"></select>
        <span asp-validation-for="IdTipoEquipamento" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Add" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>
</form>
