@{
    ViewData["Title"] = "Delete Success";
}

<h1>Staff Deleted Successfully</h1>

<p>The staff member "<strong>@ViewBag.StaffName</strong>" has been successfully deleted.</p>

<p><a href="Index" class="btn btn-primary">Back to List</a></p>
